@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?81ivfq');
  src:  url('./fonts/icomoon.eot?81ivfq#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?81ivfq') format('truetype'),
    url('./fonts/icomoon.woff?81ivfq') format('woff'),
    url('./fonts/icomoon.svg?81ivfq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-narairumhan2:before {
  content: "\97d3";
}
